/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

/*----------- HEADER --------------*/
header, nav, main, footer {
    max-width: 1024px;
    margin: 0 auto;
}
/*----------- NAVIGATION --------------*/

nav ul li a {padding: .6rem 1rem;}

/*----------- MAIN --------------*/

.trips img {
    width: 100%; 
}
.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
}

.currentweather {
    width: 30%;
}

/*----------- TABLE ACTIVITIES-------*/

.activeNews img {
   width: 500px;
 }

/*-----------FORM-------*/
form label.reserve {
    padding-left: 5rem;
      
}

form input.reservBtn {
    padding: .75rem 1rem; 
    margin: 1.5rem 5rem;
    width: 50%;
}

/*----json HOME PAGE -------*/






} /*end large */