/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 40rem) {
  
/*----------- HEADER --------------*/
header img { width: 130px;}
header h1 {
    font-size: 3rem;
    font-family: Gotu, sans-serif;
    color:#176E7A;
}
header h2 {
    font-size: 2.5rem;
    font-family: Shadows Into Light, cursive;
   
}
    
/*----------- NAVIGATION --------------*/
nav button { display: none;}  
  
nav ul.hide {display: block;}
  
nav ul { margin-left: 2%;}
  
nav ul li { 
        float: left;
}
nav ul li a { 
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
 }
/*----------- MAIN --------------*/
.textover p {
    top: 55%;
    font-size: 4rem;
    padding: 3rem;
}

.trips img {
    width: 350px; height: 200px;
}
.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.trips div  {
   background: white;
   padding: 1rem;
   
}

.trips p {
    font-size: 1.5em;
    font-family: Shadows Into Light, cursive;
    letter-spacing: 0.2rem;
}

.currentweather {
    width: 45%;
    
}

.reservInfo p {
    font-size: 3rem;
 }

 .formreserv form {
    max-width: 50%;
    
 }

.contactInfo div {
    text-align: center;
    border:0;
    padding: 2%;
    
}
section.map {
    padding-left: 5%;
}

/*----------- TABLE ACTIVITIES --------------*/
.activeNews {
    background-color: rgb(236, 226, 225);
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.activeNews img {
   width: 400px;
   float: right;
   border: 1px;
   box-shadow: 0 0 15px gray;
  
}
.activeNews p {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.activeNews h2 {
    font-size: 2rem;
}


/*----------- FOOTER --------------*/


}
  
  /*end medium */