/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Gotu, sans-serif;
    font-weight: 800;
    color: #333;
    background: linear-gradient(to top right, #ccffcc 0%, #669999 100%);
}

/*----------- HEADER --------------*/
div#headerWrapper {
    background-color:rgb(229, 179, 143);
}

header {
    padding: .5rem 0 .5rem 2%;
}
header img {
    float: left; 
    margin-right: 10px; 
    width: 80px;
}
header h1, header h2 {
    margin: 0
}
header h1 {
    font-size: 1.8rem;
    font-family: Montserrat, sans-serif;
    color:#176E7A;
}
header h2 {
    font-size: 1.5rem;
    font-family: Shadows Into Light, cursive;
    color: #533737;
}



/*----------- NAVIGATION --------------*/
div#navWrapper {background-color: #87b376;}

nav button {
    margin: .2rem .2rem;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color:  #533737;
}
nav {

    font-family: Gotu, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #533737;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li.active a {
    background-color:#34410f;
    color: whitesmoke;}


nav ul li a:hover {background-color: #c9e27e;}

nav ul.hide {display:none;}

/*----------- MAIN --------------*/

main {
    min-height: 10rem;
}

.herodiv {
    position: relative;
    width: 100%;
}
picture.heroPhoto img {
    width:100%;
    padding-bottom: 5%;
}

.textover p {
    position: absolute;
    font-family: Shadows Into Light, cursive;
    font-size: 2.5rem;
    font-style: italic;
    color: white;
    text-shadow: 5px 5px 5px #000000;
    letter-spacing: 0.1rem;
    top: 30%;
    padding: .8rem;
    
}

.inforiver h2 {
    padding-left: 1.5rem;
    margin-bottom: .5rem;
    font-family: Montserrat, sans-serif;
    color:#176E7A;
    font-size: 2rem;
   
}
.inforiver span {
    color: black;
}
.inforiver p {
    line-height: 1.5em;
    padding: 2%;
    margin-top:0;
}

.trips div{
    padding-bottom: 1.5rem;
}
.trips p {
    font-size: 2.3rem;
    color:#533737;
    margin: 2%;
    font-family: Shadows Into Light, cursive;
    letter-spacing: 0.1rem;
    padding: 0;
}

.trips img {
    box-shadow: 5px 2px 5px rgb(162, 173, 128);
    width: 100%;
}

.tripswrap h2 {
    padding-left: 1.5rem;
    font-family: Montserrat, sans-serif;
    color:#176E7A;
    font-size: 2rem;
}

.learnBtn {
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    background: #4a5f0f;
    color: white;
    font-size: .9rem;
    padding: .3rem .6rem;
    margin: 2%;
    width: 40px;
     
}
.learnBtn:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.currentweather {
    background: linear-gradient(to top right, #ffcccc 0%, #ffffff 100%);
    padding: 0 0.5rem;
    border: 1px;
    box-shadow: 0 0 10px gray;
    width: 75%;
}
.currentweather span {
    color: red; 
    font-size: 1rem;
}


#contact {
    background-color: rgb(240, 250, 204);
    padding: 2%;
}

.contactInfo div {
    text-align: center;
    padding: 2%;
}
.contactInfo p {
    padding: 0;
}

.mysocial {
    display: flex;
    justify-content: center;
    
}
.mysocial img {
    padding: 5px;
    width: 45px;
}

/*----------- FORM CONTACT US --------------*/
.formcontact h1 {
    color: #176E7A;
    padding: 2%;
}
.formcontact p {
    line-height: 1.5em;
    padding: 2%; 
}
.formcontact form {
    padding: 1.5rem;
    margin: 2%;
}
.formcontact span {
    color: black;
}

form label.contact {
    display: block;
    padding-top: 1rem;
    color: #6d4343;
    font-size: .8rem;
}

form label.contact input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

.formcontact form input.sendBtn {
    border: none;
    border-radius: 0.3rem;
    background: #4a5f0f;
    color: white;
    padding: .75rem 1rem;
    margin: 2%;
    width: 80px;
}
.sendBtn:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}
section.map {
    padding: 3%;
    background-color: rgb(163, 162, 162);
    
}
section.map h2 {
    color: #9c2c13;
    font-size: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
     
}

/*----------- TABLE ACTIVITIES --------------*/
section.activeTab{
    padding-top: 0.5rem;
    padding-left:5%;
}

.activeTab h1{
    color: #176E7A;
    padding: 2%;
}


thead th{
    color:#533737;
    font-size: 2em;
    font-family: Montserrat, sans-serif;
    background:rgb(139, 192, 139);
    padding: 8px;
}
tfoot th{
    color:#000000;
    font-size: .8rem;
    background:rgb(139, 192, 139);
    padding: 25px;
}

   
td {
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
    font-family: Monserrat, sans-serif;
    font-size: 1rem;
}

tr { 
    background-color: #daece6;
     
}

tr:nth-child(odd) {
    background-color: #beecca;
}

.bookBtn {
    border: none;
    border-radius: 0.3rem;
    text-decoration: none;
    background: #4a5f0f;
    color: white;
    font-size: .9rem;
    padding: .75rem 1rem; 
    margin: 2%;
    width: 70%;
     
}
.bookBtn:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.activeNews {
    width: 96%;
    padding-top: 2%;
}
.activeNews p {
    font-size: 1rem;
    color:#533737;
    font-family: Shadows Into Light, cursive;
    font-style: italic;
    text-shadow: .5px .5px .5px #000000;
    font-kerning: .5rem;
    letter-spacing: .2rem;
    padding: 0;
}
.activeNews h2 {
    font-size: 1.5rem;
    color:#533737;
    font-family: Shadows Into Light, cursive;
    font-style: italic;
    text-shadow: .5px .5px .5px #000000;
    font-kerning: .5rem;
    letter-spacing: .2rem;
    padding: 0;
}

.activeNews img {
    width: 100%;
    border: 1px;
    box-shadow: 0 0 10px gray;

}


/*----------- FORM RESERVATION --------------*/
.reservInfo h2 {
    font-family: Montserrat, sans-serif;
    color:#176E7A;
    font-size: 2rem;
    padding: 2%;
 }
.reservInfo p {
    font-family: Shadows Into Light, cursive;
    color: #533737;
    font-size: 3rem;
    text-align: center;
 }
 .footherodiv {
    position: relative;
    width: 100%;
}
picture.footheroPhoto img {
    width:100%;
    margin: 0;
}
.formreserv form {
    padding: 1.5rem;
    margin: 2%;
    background-color: rgb(216, 188, 168);
    max-width: 100%;
}

form label.reserve {
    display: block;
    padding-top: 1rem;
    color: #6d4343;
    font-size: .8rem;
    
}

form label.reserve input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form input.reservBtn {
    border: none;
    border-radius: 0.3rem;
    background: #4a5f0f;
    color: white;
    padding: .75rem 1rem; 
    margin: 2%;
    width: 70%;
}

.reservBtn:hover {
    box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.3);
}

/*------ JSON  GUIDES-------------*/
div.townsInfo {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 2%;
}

.townsInfo h2 {
    font-family: McLaren;
    color: #9c2c12;
}

.townsInfo h3{
    font-family: Fira Sans;
    color:  #af4642;
}

.townsInfo section {
    box-shadow: 5px 2px 5px rgb(162, 173, 128);
    background-color: rgb(228, 250, 148);
    text-align: center;
}
.townsInfo img {
    width: 100%;
}


/*----------- FOOTER --------------*/

#footerWrapper {background-color:rgb(229, 179, 143);}

footer {
    padding: 0.5rem 2%;
    text-align: center;
    font-size: 12px;
}

footer span {
    color:#a12f2b;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
